{% extends "default.html" %}

{% block title %}Add the city to a continentlist{% endblock %}
{% block header %}Select a city to add it to a continentlist:{% endblock %}

{% block content %}
    <form method="POST" action="/do_add_city_to_continentlist">
    <table class="data_entry_form">
           <tr><th><label>City</label></th><td>
               {% set select_name = "city" %}
               {% include "select_city.html" %}
           </td></tr>
         <tr><th><label>Continentlist:</label></th><td>
               {% set select_name = "continentlist" %}
               {% include "select_continentlist.html" %}
           </td></tr>


           <tr><th colspan="2"><button type="submit"> ADD </button> </th></tr>
    </table>
    </form>

{% endblock %}