{% extends "default.html" %}

{% block title %}Join Two Continent Lists Together{% endblock %}
{% block header %}Please Select Two Continent Lists to join{% endblock %}

{% block content %}
    <form method="POST" action="/do_join_continentlists">
    <table class="data_entry_form">
           <tr><th><label>First Continentlist:</label></th><td>
               {% set select_name = "first_continentlist" %}
               {% include "select_continentlist.html" %}
           </td></tr>
           <tr><th><label>Second Continentlist:</label></th><td>
               {% set select_name = "second_continentlist" %}
               {% include "select_continentlist.html" %}
           </td></tr>
           <tr><th colspan="2"><button type="submit"> JOIN </button> </th></tr>
    </table>
    </form>

{% endblock %}